*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

    @include mq-manager(phone) {
        font-size: 30%; // 1rem = 4.8px, 4.8/16 = 30%
    }
    @include mq-manager(tab-port) {
        font-size: 50%; // 1rem = 8px, 8/16 = 50%
    }
    @include mq-manager(tab-land) {
        font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
    }
    @include mq-manager(desk) {
        font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
    }
    min-width: $min-width;
}

body {
    min-width: $min-width;
    box-sizing: border-box;
}

.App {
    position: relative;
}
