@font-face {
    font-family: 'WSJ-Regular';
    font-weight: 400;
    src: local('WSJ-Regular'),
        url('../assets/fonts/OldStandardTT-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'WSJ-Italic';
    font-weight: 400;
    src: local('WSJ-Italic'),
        url('../assets/fonts/OldStandardTT-Italic.ttf') format('opentype');
}

@font-face {
    font-family: 'WSJ-Bold';
    font-weight: 700;
    src: local('WSJ-Bold'),
        url('../assets/fonts/OldStandardTT-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'DancingScript-Bold';
    font-weight: 700;
    src: local('DancingScript'),
        url('../assets/fonts/DancingScript.ttf') format('opentype');
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-white;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    &__text-title-1 {
        font-family: WSJ-Bold, sans-serif;
        font-weight: 400;
        display: block;
        width: 100%;
        font-size: 6rem;
        letter-spacing: 1.5rem;
        animation: move-in-left 1s ease-in-out;
    }
    &__text-title-2 {
        font-family: WSJ-Bold, sans-serif;
        display: block;
        text-align: center;
        font-size: 3rem;
        letter-spacing: 2.15rem;
        transform: translateX(0.5rem);
        animation: move-in-right 1s ease-out;
    }
}

.heading-secondary {
    color: $color-black;
    text-transform: uppercase;

    &__text-title-1 {
        font-family: WSJ-Bold, sans-serif;
        display: inline-flex;
        transition: transform 0.3s ease-in-out;
        border-radius: $border-radius;

        & > span {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            width: 6rem;
            height: 6rem;
            line-height: 6rem;
            background-color: $color-grey-1;
            transition: all 0.2s ease-in-out;
            box-shadow: 0 0.4rem 5rem rgba($color-black, 0.1);
        }

        &:hover {
            transform: rotate((35deg)), translateY(-50%);

            span {
                &:nth-child(odd) {
                    transform: skewY(15deg);
                    color: $color-grey-3;
                    background-color: $color-grey-0;
                }
                &:nth-child(even) {
                    transform: skewY(-15deg);
                    color: $color-black;
                    background-color: $color-grey-2;
                }
            }
        }
    }
    &__text-title-2 {
        font-family: WSJ-Bold, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &--black {
        padding: 0 $padding-small;
        border-bottom: 1px solid $color-black;
    }
}

.heading-tertiary {
    color: $color-white;
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: 400;
    font-family: WSJ-Regular, sans-serif;

    &__animated {
        animation: move-in-bottom 1s ease-out 0.5s;
        animation-fill-mode: backwards;
    }
    &__quotes {
        font-style: italic;
    }
    &--white {
        letter-spacing: 0.5rem;
        background-image: linear-gradient(
            to right,
            rgba($color-green-1, 0.8),
            rgba($color-green-3, 0.8)
        );
        width: 90%;
        border-radius: $border-radius;
        align-items: center;
        height: 4rem;
    }
}

.heading-quaternary {
    color: $color-white;
    text-transform: uppercase;
    font-family: WSJ-Regular, sans-serif;
    letter-spacing: 0.5rem;
    display: inline-flex !important;
    align-items: center;
    height: 4rem;

    &--bg-green {
        background-image: linear-gradient(
            to right,
            rgba($color-green-1, 0.8),
            rgba($color-green-3, 0.8)
        );
    }
    &--black {
        font-family: WSJ-Bold, sans-serif;
        color: $color-black;
    }
}

.paragraph {
    font-family: WSJ-Regular, sans-serif;
    color: $color-black;
    font-size: 3rem;

    &--animated {
        &:hover {
            transform: scale(1.1) skewY(-2deg);
            color: rgb(103, 190, 214);
            text-shadow: 0 0.3rem 0.5rem rgba($color-white, 0.5);
        }
    }
    &__footer {
        display: flex;
        font-size: 1rem;
        display: inline-block;
        transition: all 0.2s;

        &--link {
            color: $color-white;
            text-decoration: none;
        }
        &--developed {
            font-family: DancingScript-Bold, sans-serif;
            font-size: 1.5rem;
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;

    &__tooltip-text {
        visibility: hidden;
        width: 12rem;
        background-color: $color-grey-3;
        color: $color-white;
        text-align: center;
        border-radius: 0.6rem;
        padding: 0.5rem 0;
        position: absolute;
        bottom: 125%;
        left: 50%;
        z-index: 1;
        margin-left: -6rem;
        opacity: 0;
        transition: opacity 0.3s;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -0.5rem;
            border-width: 0.5rem;
            border-style: solid;
            border-color: $color-grey-2 transparent transparent transparent;
        }
    }
    &:hover &__tooltip-text {
        visibility: visible;
        opacity: 1;
    }
}
