$color-white: #fff;
$color-black: #000;
$color-grey-0: rgb(230, 230, 230);
$color-grey-1: rgb(204, 204, 204);
$color-grey-2: rgb(150, 150, 150);
$color-grey-3: rgb(110, 110, 110);
$color-green-1: rgb(48, 129, 167);
$color-green-2: rgb(35, 95, 122);
$color-green-3: rgb(19, 50, 64);

$grid-width: 114rem;
$grid-gap-vertical: 6rem;
$grid-gap-horizontal: 3rem;

$padding-xsmall: 0.5rem;
$padding-small: 2rem;
$padding-medium: 4rem;
$padding-large: 6rem;

$margin-xsmall: 1rem;
$margin-small: 3rem;
$margin-medium: 6rem;
$margin-large: 9rem;

$padding-top-section: 10rem;
$padding-bottom-section: 10rem;

$card-height: 30rem;
$card-width: 45rem;

$default-font-size: 1.6rem;
