.section-about {
    padding-top: $padding-top-section;
    padding-bottom: $padding-bottom-section;
}

.section-skills {
    padding-top: $padding-top-section;
    padding-bottom: $padding-bottom-section;
    background-color: $color-green-3;
}
