.btn {
    text-transform: uppercase;
    text-decoration: none;
    @include display-inline-flex;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: $default-font-size;
    transition: all 0.2s;
    position: relative;
    min-width: 17rem;
    font-family: WSJ-Regular, sans-serif;

    &--white {
        background-color: $color-white;
        color: $color-black;
        padding: $padding-xsmall $padding-small;

        &::after {
            background-color: $color-white;
        }
    }
    &:not(:disabled) {
        &:hover {
            transform: translateY(-0.4rem);
            box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }
        &:active,
        &:focus {
            transform: translateY(-0.1rem);
            box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
        }
        &::after {
            content: '';
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 0.5rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all 0.4s;
        }
    }
    &:disabled {
        color: $color-grey-1;
        cursor: not-allowed;
    }
}

.btn-carousel {
    position: absolute;
    top: 50%;
    width: 6rem;
    height: 6rem;
    background: rgba($color-black, 0.1);
    border-radius: 0.5rem;
    font-size: 3rem;
    font-weight: bold;
    color: $color-white;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translateY(-50%);

    &--left {
        left: 1rem;
    }
    &--right {
        right: 1rem;
    }
    &:focus {
        border: 0.5rem solid rgb(111, 155, 167);
    }
}
