.form {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: linear-gradient(
            100deg,
            rgba($color-white, 0.5) 0%,
            rgba($color-white, 0.5) 50%,
            transparent 50%
        ),
        url('../assets/images/bg_form_01.jpg');
    background-size: cover;
    box-shadow: 0rem 2rem 5rem rgba($color-black, 0.5);

    & > :last-child {
        display: flex;
        flex-direction: column;
    }
    &__group:not(:last-child) {
        margin-bottom: $margin-xsmall;
    }
    &__input {
        font-size: 2rem;
        font-family: inherit;
        color: $color-black;
        padding: 1.5rem 2rem;
        border-radius: 0.5rem;
        background-color: rgba($color-white, 0.7);
        border: none;
        border-bottom: 0.3rem solid transparent;
        width: 100%;
        display: block;
        transition: all 0.3s;

        &--message {
            display: flex;
            flex-grow: 1;
            align-items: stretch;
        }
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 0.3rem solid $color-primary-dark;
        }
        &:focus:invalid {
            border-bottom: 0.3rem solid $color-secondary-dark;
        }
        &::-webkit-input-placeholder {
            color: $color-grey-2;
        }
        &:valid {
            border-bottom: 0.3rem solid $color-primary-dark;
        }
        &:invalid {
            border-bottom: 0.3rem solid $color-secondary-dark;
        }
    }
    &__label {
        font-size: 1.4rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
    }
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}
