.icon {
    &__skills {
        font-size: $icon-skill-size;

        &--local {
            width: $icon-skill-size;
            height: $icon-skill-size;
        }
    }
    &__footer {
        font-size: $icon-footer-size;
        width: $icon-footer-size;
        height: $icon-footer-size;

        &--local {
            height: $icon-footer-size;
        }
        &--resume {
            height: $icon-footer-size * 2;
        }
    }
    &__project {
        font-size: $icon-footer-size;
        width: $icon-footer-size;
        height: $icon-footer-size;

        &--local {
            height: $icon-footer-size;
        }
        &--resume {
            height: $icon-footer-size * 2.5;
        }
    }
    @include mq-manager(desk) {
        // width < 1800px ?
    }
    @include mq-manager(mid-desk-tab-land) {
        // width < 1300px ?
    }
    @include mq-manager(tab-land) {
        // width < 1200px ?
    }
    @include mq-manager(mid-tab-land-tab-port) {
        // width < 1050px ?
    }
    @include mq-manager(tab-port) {
        // width < 900px ?
    }
    @include mq-manager(mid-tab-port-phone) {
        // width < 750px ?
    }
    @include mq-manager(phone) {
        // width < 600px ?
    }
}
