.modal {
    transition: all 0.4s ease-in-out;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    color: $color-black;
    z-index: 2;

    &--true {
        background-color: rgba($color-black, 0.9);
        opacity: 1;
        visibility: unset;
    }
    &--false {
        visibility: hidden;
        opacity: 0;
    }
    &__content {
        @include abs-center;
        width: 110rem;
        height: 50rem;
        background-color: $color-white;
        display: flex;
        border-radius: $border-radius;
        background-color: $color-grey-2;
        overflow: hidden;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.7);
    }
    &__left {
        width: 60%;
        padding: $padding-medium;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__right {
        width: 40%;
        padding: $padding-medium;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__link {
        text-decoration: none;
    }
    &__photo {
        width: 100%;
        border-radius: $border-radius;
        // height: 100%;
    }
    &__close {
        position: absolute;
        top: 1rem;
        right: 1.25rem;
        font-size: 3rem;
        text-decoration: none;
        display: inline-block;
        transition: all 0.2s;
        line-height: 1;
        border: none;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: $border-radius;
        background-color: rgba($color-black, 0.1);
        display: flex;
        justify-content: center;
        align-content: center;
        color: $color-green-3;

        &:hover {
            color: $color-secondary-dark;
            background-color: rgba($color-black, 0.3);
        }
    }
    &__text-box {
        font-family: WSJ-Regular, sans-serif;
        font-size: 2rem;
        text-align: justify;
    }
    &__technologies-box {
        margin-top: $margin-xsmall;
        height: 100%;
        display: flex;
    }
    &__logo-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        font-size: 3.5rem;
    }
}

.modal-msg {
    position: fixed;
    bottom: 0;
    right: 5%;
    color: $color-black;
    width: 40rem;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    overflow: hidden;
    text-decoration: none;
    display: inline-flex;
    flex-grow: 1;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    opacity: 0.7;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);

    &__header {
        background-color: $color-green-2;
        display: flex;
    }
    &__title {
        font-family: WSJ-Bold, sans-serif;
        text-transform: capitalize;
        padding-right: $padding-medium;
        flex-grow: 1;
        font-size: $default-font-size;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        align-items: flex-end;
        color: $color-white;
    }
    &__close {
        position: absolute;
        top: 0.8rem;
        right: 0.8rem;
        font-size: 2rem;
        text-decoration: none;
        border: none;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: $border-radius;
        background-color: rgba($color-white, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: $color-white;
        transition: all 0.2s;

        &:hover {
            color: $color-secondary-dark;
            background-color: rgba($color-white, 0.2);
        }
    }
    &__body {
        display: flex;
        background-color: $color-grey-1;
        height: 7rem;
        padding: $padding-xsmall;
    }
    &__msg {
        height: 100%;
        width: 100%;
        font-size: 1.7rem;
        font-family: WSJ-Regular, sans-serif;
        display: inline-block;
        text-align: center;
    }
    &:hover {
        opacity: 1;
    }
    &--visible-false {
        opacity: 0;
        display: none;
    }
    &--visible-true {
        opacity: 1;
        display: flex;
    }
}
