.modal {
    transition: all 0.4s ease-in-out;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    color: $color-black;

    &--true {
        background-color: rgba($color-black, 0.8);
        opacity: 1;
        visibility: unset;
    }
    &--false {
        visibility: hidden;
        opacity: 0;
    }
    &__content {
        @include abs-center;
        width: 110rem;
        height: 50rem;
        background-color: $color-white;
        display: flex;
        border-radius: $border-radius;
        background-color: $color-grey-2;
        overflow: hidden;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.7);
    }
    &__left {
        width: 60%;
        padding: $padding-medium;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__right {
        width: 40%;
        padding: $padding-medium;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__link {
        text-decoration: none;
    }
    &__photo {
        width: 100%;
        border-radius: $border-radius;
        // height: 100%;
    }
    &__close {
        position: absolute;
        top: 1rem;
        right: 1.25rem;
        font-size: 3rem;
        text-decoration: none;
        display: inline-block;
        transition: all 0.2s;
        line-height: 1;
        border: none;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: $border-radius;
        background-color: rgba($color-black, 0.1);
        display: flex;
        justify-content: center;
        align-content: center;
        color: $color-green-3;

        &:hover {
            color: $color-secondary-dark;
            background-color: rgba($color-black, 0.3);
        }
    }
    &__text-box {
        font-family: WSJ-Regular, sans-serif;
        font-size: 2rem;
        text-align: justify;
    }
    &__technologies-box {
        margin-top: $margin-xsmall;
        height: 100%;
        display: flex;
    }
    &__logo-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        font-size: 3.5rem;
    }
}
