.u-center-text {
    text-align: center !important;
}

.u-center-items {
    align-items: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 3rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 6rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 9rem !important;
}

.u-margin-top-small {
    margin-top: 3rem !important;
}

.u-margin-top-medium {
    margin-top: 6rem !important;
}

.u-margin-top-big {
    margin-top: 9rem !important;
}

.u-skew-y {
    transform: skew(-15deg);
    height: 50rem;
}

.u-skew-y-border-left {
    border-left: 3px solid $color-grey-2;
}

.u-no-skew-y {
    transform: skew(15deg);
}
