$color-white: #fff;
$color-black: #000;
$color-grey-1: rgb(204, 204, 204);
$color-grey-2: rgb(150, 150, 150);
$color-grey-3: rgb(110, 110, 110);

$grid-width: 114rem;
$grid-gap-vertical: 8rem;
$grid-gap-horizontal: 6rem;

$default-font-size: 1.6rem;
